*{
    margin: 0;
    padding: 0;
}
.top-part{
    max-width: 100%;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(images/image-1.jpg);
}
.header{
    padding: 33px;
    margin: 0 auto;
    
}
h4{
    opacity: 50%;
    padding-top: 5px;
    padding-left: 16px;
}
.header .logo{
    display: flex;
    color: aliceblue;
    float: left;
    padding: 5px;
   
    
}
.header .menu{
   
    float: right;
  
}
.menu ul li{
    display: inline-block;
}
.menu nav ul li a {
    display: block;
    color: aliceblue;
    padding: 10px 16px;
    text-decoration: none;
    margin-right: 15px;
    border: 2px solid ;
    border-radius: 5px;
}
.menu nav ul li a:hover{
    background-color: rgb(32, 211, 32);
    transition: 1s;
}
.middle{
    color: aliceblue;
    padding-top: 100px;
    padding-left: 40%;
    font-size: 50px;
}
.creative{
    color: aliceblue;
    padding-left: 33%;
    font-size: 50px;
}
.creative h5 span{
    color: rgb(70, 246, 70);
}
.small{
    color: aliceblue;
    padding-left: 38%;
    font-size: 30px;
}
.middle h5 strong{
    padding-left: 20px;
}
.top-part .icon{
    width: 10px;
    padding-left: 600px;
}
                                       /* end top part */
                                       /* start bottom part */

                                       .bottom-part .headline h2{
                                           color: rgb(15, 181, 15);
                                           font-size: 35px;
                                           padding-left: 600px;
                                           padding-top: 15px;
                                           font-family: Verdana, Geneva, Tahoma, sans-serif;
                                           
                                       }
                                       .bottom-part .headlineunderline .icon{
                                          width: 10px;
                                       }
                                       .headlineunderline h1{
                                           padding-left: 595px;
                                           
                                       }
                                       .bottom-part .service-desc{
                                           width: 30%;
                                           margin:0 1%;
                                           display: inline-block;
                                           padding-top: 30px;
                                           padding: 5px;
                                           font-family: Georgia, 'Times New Roman', Times, serif;
                                           box-shadow: 5px 10px 8px #888888;
                                       }
                                       .bottom-part .service-desc .icon{
                                            width: 10px;
                                            padding: 5px;
                                            border: 3px solid rgb(15, 181, 15);
                                            border-radius: 50%;
                                       }
                                       /* end bottom part */